/CMakeFiles
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/config.h
/3dmeditor-bin
/ta3d-bin
/libfmodex.dylib
/bin
/regression-*
/.*.swp
/.*.swo
/savegames
/screenshots
/logs
/settings
/*.exe
/*.dll
/*.hpi
/stderr.txt
/stdout.txt
/*.app
