/CMakeFiles
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/config.h
/ta3d-bin
/libfmodex.dylib
/bin
/regression-*
/.*.swp
/.*.swo
/savegames
/screenshots
/logs
/settings
/*.exe
/*.dll
/*.hpi
/stderr.txt
/stdout.txt
/*.app

/src/install_manifest.txt

# build cruft from ftgl
/src/libs/ftgl/**/CMakeFiles
/src/libs/ftgl/**/Makefile
/src/libs/ftgl/**/cmake_install.cmake
/src/libs/ftgl/**/*.a

# build cruft from lua
/src/libs/lua-5.1.4/src/*.o
/src/libs/lua-5.1.4/src/lua
/src/libs/lua-5.1.4/src/lua.exe
/src/libs/lua-5.1.4/src/luac
/src/libs/lua-5.1.4/src/luac.exe
/src/libs/lua-5.1.4/src/liblua.a
/src/libs/lua-5.1.4/src/lua51.dll
