/*.ccx
/*.dll
/*.exe
/*.hpi
/*.lib
/.*.swn
/.*.swo
/.*.swp
/*.dmg
/CMakeCache.txt
/CMakeFiles
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Makefile
/bin
/cmake_install.cmake
/config.h
/logs
/savegames
/screenshots
/settings
/stderr.txt
/stdout.txt
/ta3d.app
/ta3d
